h1{
    
    padding: 5px;
}

*{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgb(35, 34, 34);
    padding: 5px;
    color: white;
    cursor: pointer;
}

input{
    padding: 5px;
}